src/main/java/de/mgpit/oracle/reports/plugin/destination/cdm/schema/cdmdoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="cdmdoc" type="cdmdoc" />
	<xs:element name="content" type="content" />

	<xs:complexType name="cdmdoc">
		<xs:sequence>
			<xs:element ref="content" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unifier"/>
	</xs:complexType>


	<xs:complexType name="content">
		<xs:sequence>
			<xs:element name="length" type="xs:int"  minOccurs="1"  maxOccurs="1"/>
			<xs:element name="data" type="xs:string"  minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>